

/* ==========================================================================
 General formatting
 ========================================================================== */
 .subtitle{
 	color: gray;
 	text-transform: uppercase;
 	font-size: 12px;

 }

 .company-logo{
 	height: 60px;
 }

 .company-name{
 	font-size: 36px;
 	vertical-align: middle;
 	padding-left: 10px;
 }

 .info-block{
 	margin-top: 10px;
 	margin-bottom: 20px;
 }

 .info-block .h1,.info-block .h2{
 	margin: 0;
 }

 .info-location{
   margin-top: 10px;
   display: flex;
   font-weight: bold;
}

.info-location>a:not(:last-child){
 margin-right: 20px;
}

.info-web-contacts{
	margin-bottom: 10px;
}

.block{
  padding: 10px 20px;
}

.btn-icon{
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  background-color: #337ab7;
  color: white;
}

.btn-homepage{
  background-color: #60AF11;
}

.btn-facebook{
  background-color: #2E4881;
}

.btn-email{
  background-color: #F2A347;
}

.img-responsive{
  width:100%;
}

/* ==========================================================================
 Colors
 ========================================================================== */
 body{
 	background-color: #F1F1F1;
 }

 .block-main{
 	background-color: #FFF;
 }

/* ==========================================================================
 Layout
 ========================================================================== */
 .container{
 	display: flex;
 	padding-top: 15px;
 	padding-bottom: 15px;

 	justify-content: center;
 }

 .block-main{
 	flex: 0 380px;

 	display: flex;
 	flex-flow: row wrap;
 }


 .block-contacts{
 	flex: 1 100%;
 }

 .block-presentation{
 	flex: 1 100%;
 }

 .block-right{
 	display: none;
 	margin: 0 10px;
 }

 /*Tablets or up*/
 @media (min-width: 580px) {
 	.block-main{
 		flex-grow: 1;
 	}
 	.block-contacts{
 		flex: 1 240px;
 	}

 	.block-presentation{
 		flex: 2 30%;
 	}


    .block-break{
        display: none;
    }
}

/*Desktop or up*/
@media (min-width: 992px) {
  .block-main{
     flex: 1 100%;
 }

 .block-right{
     display: block;
     flex: 0 25%;
 }


}



